/*.blob-accueil-1 {
    position: absolute;
    width: 500px;
    height: 500px;
    top: -300px;
    left: -800px;
    z-index: -5;
    // background: #fff;
    #blobSvg {
        width: 300%;

        @media screen and (max-width: $breakpoint-sm) {
            width: 250%;
        }
    }
}*/

.sectBlobAccueil {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    top: 0;
}

.blob-accueil-1 {
    position: absolute;
    width: 500px;
    height: 500px;
    background: #fff;
    left: 0;
    svg {
        filter: invert(53%) sepia(62%) saturate(3943%) hue-rotate(161deg)
            brightness(95%) contrast(101%);
    }
}

.blob-accueil-2 {
    position: absolute;

    width: 500px;
    height: 500px;
    background: #fff;
    svg {
        filter: invert(40%) sepia(65%) saturate(836%) hue-rotate(215deg)
            brightness(99%) contrast(95%);
    }
}

/*
.row-outer {
    top: 0;
    z-index: -5;
    position: absolute;
}
.wrapper-blob {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}
.shape:nth-of-type(1) {
    width: 900px;
    height: 100%;
    position: absolute;
    left: -350px;
    bottom: -200px;
    background: linear-gradient(50deg, #5207de, #a904ad, #ff007a);
    opacity: 25%;
    animation: wave 7s ease-in-out infinite;
}
.shape:nth-of-type(2) {
    width: 800px;
    height: 90%;
    position: absolute;
    left: 1250px;
    top: -200px;
    transform: rotate(280deg);
    background: linear-gradient(50deg, #10a3ef, #07d59d, #00ff57);
    opacity: 25%;
    animation: wave 7s ease-in-out infinite;
}
@keyframes wave {
    0% {
        border-radius: 66% 34% 37% 63% / 57% 31% 69% 43%;
    }
    100% {
        border-radius: 66% 34% 37% 63% / 57% 31% 69% 43%;
    }
    60% {
        border-radius: 25% 75% 50% 50% / 25% 50% 69% 43%;
    }
}
*/
.blob-page-projet {
    background-image: url(../../assets/images/blob-page-projets.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -3;
}

.blob-a-propos {
    background-image: url(../../assets/images/blob-a-propos.png);
    width: 787px;
    height: 776px;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0px;
    left: -200px;

    z-index: -3;

    @media screen and (max-width: $breakpoint-xs) {
        background-size: 70%;
        height: 500px;
    }
}

.blob-contact {
    background-image: url(../../assets/images/blob-contact.png);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    position: absolute;
    bottom: 0px;
    left: 0;

    z-index: -3;

    @media screen and (max-width: $breakpoint-sm) {
        background-image: url(../../assets/images/blob-contact-tablet.png);
    }
    @media screen and (max-width: $breakpoint-xs) {
        background-image: url(../../assets/images/blob-contact-mobile.png);
    }
}

.blob-page-single {
    background-image: url(../../assets/images/blob-page-single.png);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: 50%;
    position: absolute;
    bottom: 0px;
    left: 0;

    z-index: -3;

    @media screen and (max-width: $breakpoint-sm) {
        background-image: url(../../assets/images/blob-page-single-tablet.png);
    }

    @media screen and (max-width: $breakpoint-xs) {
        background-image: url(../../assets/images/blob-page-single-mobile.png);
    }
}
