.blob-accueil {
    background-image: url(../../assets/images/blob-accueil.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    top: -5px;
    z-index: -1;
}


.blob-page-projet{
    background-image: url(../../assets/images/blob-page-projets.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    
}