.contenu-a-propos {
    padding-bottom: 300px;
    position: relative;
}

.a-propos-wrapper {
    margin: 0 140px;

    @media screen and (max-width: $breakpoint-md) {
        margin: 0 120px;
    }
    @media screen and (max-width: $breakpoint-sm) {
        margin: 0 100px;
    }
    @media screen and (max-width: $breakpoint-xs) {
        margin: 0 50px;
    }

    .introduction {
        position: relative;
        display: flex;

        .txt-intro {
            padding-top: 150px;
            max-width: 748px;

            @media screen and (max-width: $breakpoint-xs) {
                padding-top: 175px;
            }

            h2 {
                margin-bottom: 15px;

                @media screen and (max-width: $breakpoint-lg) {
                    font-size: 50px;
                }
                @media screen and (max-width: $breakpoint-md) {
                    font-size: 38px;
                }
                @media screen and (max-width: $breakpoint-sm) {
                    font-size: 30px;
                    text-align: left;
                }
                @media screen and (max-width: $breakpoint-xs) {
                    font-size: 20px;
                    text-align: left;
                    max-width: 200px;
                }
            }

            p.bio {
                margin-top: 0;
                max-width: 740px;

                @media screen and (max-width: $breakpoint-lg) {
                    font-size: 28px;

                    max-width: 650px;
                }
                @media screen and (max-width: $breakpoint-md) {
                    font-size: 20px;

                    max-width: 380px;
                }

                @media screen and (max-width: $breakpoint-sm) {
                    font-size: 18px;

                    max-width: 350px;
                }
                @media screen and (max-width: $breakpoint-xs) {
                    font-size: 16px;

                    max-width: 280px;
                }
            }

            .qualite1 {
                color: #ec014d;
            }
            .qualite2 {
                color: #5407de;
            }
            .qualite3 {
                color: #10a3ef;
            }
        }

        .img-intro {
            position: absolute;
            top: 0;
            right: -150px;
            max-height: 800px;

            z-index: -1;

            @media screen and (max-width: $breakpoint-lg) {
                max-width: 680px;
            }
            @media screen and (max-width: $breakpoint-md) {
                max-width: 480px;
            }
            @media screen and (max-width: $breakpoint-sm) {
                top: 70px;
                max-width: 350px;
            }
            @media screen and (max-width: $breakpoint-xs) {
                top: 70px;
                max-width: 200px;
                right: -50px;
            }
            @media screen and (max-width: $breakpoint-xxs) {
                top: 70px;
                max-width: 165px;
                right: -50px;
            }
        }
    }

    @media screen and (max-width: $breakpoint-xs) {
        h4 {
            font-size: 18px;
            margin: 10px 0;
        }
    }

    .mes-competence {
        margin-top: 150px;
        max-width: 1030px;
        display: flex;
        justify-content: space-between;

        @media screen and (max-width: $breakpoint-lg) {
            max-width: 900px;

            img {
                max-width: 60px;
            }
        }

        @media screen and (max-width: $breakpoint-md) {
            margin-top: 80px;
        }

        @media screen and (max-width: $breakpoint-sm) {
            max-width: 900px;

            img {
                max-width: 45px;
            }
        }

        @media screen and (max-width: $breakpoint-xs) {
            max-width: 900px;

            margin-top: 30px;

            flex-direction: column;

            img {
                max-width: 30px;
            }
        }
    }

    .mes-loisirs {
        margin-top: 50px;
        h4 {
            margin-bottom: 10px;
        }
        .liste-loisirs {
            margin-top: 10px;
            list-style-type: none;
            padding: 0;

            .loisirs {
                font-size: var(--font-size-h4);
            }
        }

        @media screen and (max-width: $breakpoint-sm) {
            .liste-loisirs {
                .loisirs {
                    font-size: 18px;
                }
            }
        }
    }

    .shroom {
        background-image: url(../../assets/images/shroom1.png);
        width: 410px;
        height: 400px;
        background-repeat: no-repeat;
        position: absolute;
        bottom: 0;
        right: 300px;

        @media screen and (max-width: $breakpoint-lg) {
            background-size: 100%;
            width: 300px;
            height: 288px;
        }

        @media screen and (max-width: $breakpoint-sm) {
            width: 250px;
            height: 240px;
            right: 200px;
        }

        @media screen and (max-width: $breakpoint-xs) {
            width: 200px;
            height: 192px;
            right: 150px;
        }

        @media screen and (max-width: $breakpoint-xs) {
            width: 150px;
            height: 145px;
            right: 150px;
        }
    }

    .shroom2 {
        background-image: url(../../assets/images/shroom2.png);
        width: 400px;
        height: 580px;
        background-repeat: no-repeat;
        position: absolute;
        bottom: 0;
        right: -140px;

        @media screen and (max-width: $breakpoint-lg) {
            background-size: 100%;
            width: 300px;
            height: 440px;
            right: -120px;
        }

        @media screen and (max-width: $breakpoint-md) {
            right: -80px;
        }

        @media screen and (max-width: $breakpoint-sm) {
            width: 250px;
            height: 360px;
        }
        @media screen and (max-width: $breakpoint-xs) {
            width: 200px;
            height: 290px;
            right: -40px;
        }
        @media screen and (max-width: $breakpoint-xxs) {
            width: 150px;
            height: 200px;
            right: -40px;
        }
    }
}
