.site-container {
    width: 100vw;
}

.wrapper-page-projets {
    margin: 0 69px;

    @media screen and (max-width: $breakpoint-sm) {
        margin: 0 40px;
    }
}

.mes-projets {
    height: 100%;
    position: relative;
    padding-top: 100px;
    padding-bottom: 100px;
    overflow-x: hidden;
    @media screen and (max-width: $breakpoint-xs) {
        // max-width: 375px;
    }

    h1 {
        text-align: center;
        margin-top: 200px;

        @media screen and (max-width: $breakpoint-xs) {
            font-size: 36px;
        }
    }

    h3 {
        //   white-space: nowrap;

        @media screen and (max-width: $breakpoint-sm) {
            font-size: 24px;

            margin: 15px 0;
        }
        @media screen and (max-width: $breakpoint-xs) {
            font-size: 15px;
        }
    }

    ////PROJET GAUCHE
    .le-projet-gauche {
        display: flex;
        justify-content: left;
        align-items: center;
        margin-top: 150px;

        @media screen and (max-width: $breakpoint-xs) {
            justify-content: center;
            align-items: center;
        }

        .imgprojets {
            width: 40%;
            object-fit: contain;

            @media screen and (max-width: $breakpoint-sm) {
                width: 55%;
            }
        }

        .textProjets {
            margin-left: 65px;
            display: flex;
            flex-direction: column;

            @media screen and (max-width: $breakpoint-sm) {
                align-items: center;
                justify-content: center;

                margin-left: 45px;
            }

            @media screen and (max-width: $breakpoint-xs) {
                margin-left: 0;
            }

            .titre-projets {
                display: flex;
                align-items: center;
                @media screen and (max-width: $breakpoint-sm) {
                    flex-direction: column;
                }
                @media screen and (max-width: $breakpoint-xs) {
                    flex-direction: column;
                }

                h2 {
                    font-size: 40px;
                    white-space: nowrap;
                    border-right: solid 3px black;
                    margin-right: 20px;
                    margin-bottom: 0;
                    padding-right: 20px;
                    margin-top: 15px;
                    text-align: left;

                    @media screen and (max-width: $breakpoint-lg) {
                        white-space: normal;
                        text-align: left;
                        width: fit-content;

                        max-width: 215px;
                    }

                    @media screen and (max-width: $breakpoint-sm) {
                        font-size: 35px;
                        text-align: center;
                        margin-right: 0;
                        padding-right: 0;

                        border-right: none;
                        border-bottom: solid 3px black;
                    }

                    @media screen and (max-width: $breakpoint-xs) {
                        font-size: 24px;
                        border-right: none;
                        border-bottom: solid 3px black;
                    }
                }
                @media screen and (max-width: $breakpoint-lg) {
                    .martine {
                        max-width: 300px;
                    }
                }
            }

            h4 {
                margin-top: 0;

                @media screen and (max-width: $breakpoint-sm) {
                    font-size: 20px;
                    text-align: center;
                }

                @media screen and (max-width: $breakpoint-xs) {
                    font-size: 14px;
                }
            }

            .logo-projet {
                .logo-logiciel-projet {
                    max-width: 69px;
                    padding-right: 10px;

                    @media screen and (max-width: $breakpoint-sm) {
                        max-width: 55px;
                    }
                }
            }

            button {
                margin-top: 15px;
            }
        }

        @media screen and (max-width: $breakpoint-xs) {
            flex-direction: column;
        }
    }

    ////PROJET DROITE

    .le-projet-droite {
        display: flex;
        justify-content: flex-end;
        margin-top: 150px;

        @media screen and (max-width: $breakpoint-xs) {
            justify-content: center;
            align-items: center;
        }

        .imgprojets {
            width: 40%;
            object-fit: contain;
            @media screen and (max-width: $breakpoint-xs) {
                order: 1;
            }

            @media screen and (max-width: $breakpoint-sm) {
                width: 55%;
            }
        }

        .textProjets {
            margin-right: 65px;

            display: flex;
            flex-direction: column;

            @media screen and (max-width: $breakpoint-sm) {
                align-items: center;
                justify-content: center;

                margin-right: 45px;
            }

            @media screen and (max-width: $breakpoint-xs) {
                order: 2;
                margin-right: 0;
            }

            .titre-projets {
                display: flex;
                align-items: center;

                @media screen and (max-width: $breakpoint-sm) {
                    flex-direction: column;
                }
                @media screen and (max-width: $breakpoint-xs) {
                    flex-direction: column;
                }

                h2 {
                    font-size: 40px;
                    border-right: solid 3px black;
                    margin-right: 20px;
                    margin-bottom: 0;
                    padding-right: 20px;
                    margin-top: 15px;

                    @media screen and (max-width: $breakpoint-md) {
                        max-width: 215px;
                    }

                    @media screen and (max-width: $breakpoint-sm) {
                        font-size: 35px;
                        text-align: center;
                        margin-right: 0;
                        padding-right: 0;

                        border-right: none;
                        border-bottom: solid 3px black;
                    }

                    @media screen and (max-width: $breakpoint-xs) {
                        font-size: 24px;
                        border-right: none;
                        border-bottom: solid 3px black;
                    }
                }

                @media screen and (max-width: $breakpoint-lg) {
                    .pinball {
                        max-width: 425px;
                    }
                }
            }

            h4 {
                margin-top: 0;

                @media screen and (max-width: $breakpoint-sm) {
                    font-size: 20px;
                    text-align: center;
                }
                @media screen and (max-width: $breakpoint-xs) {
                    font-size: 14px;
                }
            }

            .logo-projet {
                .logo-logiciel-projet {
                    max-width: 69px;
                    padding-right: 10px;

                    @media screen and (max-width: $breakpoint-sm) {
                        max-width: 55px;
                    }
                }
            }

            button {
                margin-top: 15px;
            }
        }
        @media screen and (max-width: $breakpoint-xs) {
            flex-direction: column;
        }
    }

    .champi1 {
        background-image: url(../../assets/images/Champignon1.svg);
        width: 200px;
        height: 325px;
        background-repeat: no-repeat;
        position: absolute;
        top: 1800px;
        left: 0;
        z-index: -1;

        @media screen and (max-width: $breakpoint-lg) {
            top: 1600px;
            background-size: 70%;
            height: 250px;
        }

        @media screen and (max-width: $breakpoint-sm) {
            top: 1600px;
            background-size: 55%;
            height: 250px;
            background-position: 50%;
            left: -45px;
        }
    }
    .champi2 {
        background-image: url(../../assets/images/Champignon2.svg);
        width: 170px;
        height: 270px;
        background-repeat: no-repeat;
        position: absolute;
        top: 1200px;
        right: 0;
        z-index: -1;

        @media screen and (max-width: $breakpoint-lg) {
            top: 1000px;
            background-size: 80%;
            height: 250px;
            right: -20px;
            background-position: 50%;
        }

        @media screen and (max-width: $breakpoint-sm) {
            top: 1000px;
            background-size: 70%;
            height: 250px;
            right: -25px;
            background-position: 50%;
        }
    }
    .champi3 {
        background-image: url(../../assets/images/Champignon1.svg);
        width: 200px;
        height: 325px;
        background-repeat: no-repeat;
        position: absolute;
        bottom: 500px;
        right: 0;
        transform: scaleX(-1);
        z-index: -1;

        @media screen and (max-width: $breakpoint-lg) {
            bottom: 100px;
            background-size: 70%;
            height: 250px;
        }

        @media screen and (max-width: $breakpoint-sm) {
            bottom: 450px;
            background-size: 55%;
            height: 250px;
        }
    }
    .champi4 {
        background-image: url(../../assets/images/Champignon2.svg);
        width: 170px;
        height: 270px;
        background-repeat: no-repeat;
        position: absolute;
        bottom: 700px;
        left: 0;
        transform: scaleX(-1);
        z-index: -1;

        @media screen and (max-width: $breakpoint-lg) {
            bottom: 450px;
            background-size: 80%;
            height: 250px;
            left: -35px;
        }

        @media screen and (max-width: $breakpoint-md) {
            bottom: 422px;
            background-size: 80%;
            height: 213px;
            left: -35px;
        }

        @media screen and (max-width: $breakpoint-sm) {
            bottom: 1100px;
            background-size: 70%;
            height: 250px;
            left: -25px;
            background-position: 50%;
        }
    }
}
