.video-setting {
    max-height: 740px;
    border-radius: 50px;
    .video {
        margin-bottom: 20px;
        color: var(--color-white);
        text-align: center;
        height: 0;

        padding-bottom: 56.25%;
        position: relative;

        img {
            object-fit: cover;
            height: 100%;
            width: 100%;
        }
    }

    .video__media {
        @include cover();
        background-color: var(--color-black);
    }

    /*.video__wrapper {
    
}*/
}
