/* ==========================================================================
   BODY / ELEMENT
   Le body permet d'initialiser les propriétés générales de la page.
   Les éléments de la page vont hérités des propriétés inscrite dans body
   ========================================================================== */

body {
    font-family: var(--font-h2);
    font-size: var(--font-size-p);
    color: var(--color-primary);
    line-height: 1.6;
    background: var(--color-bg-primary);
}

p {
    font-family: var(--font-p);
}

.site-container {
    overflow-x: hidden;
}
